{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#19c589">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#19c589">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pure/pure-min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/grids-min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/grids-responsive-min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="header">
    <div id="menu-container" class="pure-u-1">
        <label for="show-menu" class="show-menu"><i class="fas fa-bars"></i> Menu</label>
        <input type="checkbox" id="show-menu" role="button">
        <ul id="menu">
            {% with url_name=request.resolver_match.url_name %}
                <li><a href="{% url 'index' %}"><img id="logo" src="{% static 'image/logo_md.png' %}"></a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="{% if url_name == 'station_catalog_home' or url_name == 'station_details' %} menu-selected {% endif %}">
                    <a href="{% url 'station_catalog_home' %}">Station Catalog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            {% endwith %}
        </ul>
    </div>

    <div class="title pure-u-1">
        <h1>{% block page_title %}{% endblock %}</h1>
        <h2>{% block subtitle %}{% endblock %}</h2>
    </div>
</div>

<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
